@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    color: #4d4b4b;
    /* color:white; */
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}


nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li .nav-link {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  /* color: #aaa; */
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li .nav-link,
nav ul li .nav-link:after,
nav ul li .nav-link:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #e6a0fc;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

